body {
  font-family: "Fredoka", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  color: #878787;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

#description {
  text-transform: capitalize;
}

#celsius-link {
  text-decoration-line: none;
}

#fahrenheit-link {
  text-decoration-line: none;
}

.sophia {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  color: #bababa;
}

.weather-forecast-temp {
  font-size: 13px;
  color: #bababa;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}
